dialog {
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #eee;
  background: white;
}

dialog .content {
  padding: 15px 20px;
}

/* close */

dialog .close {
  position: absolute;
  top: 3px;
  right: 5px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

dialog .close:before {
  content: '✕'
}

dialog.closable .close {
  display: block;
}

dialog .close:hover {
  color: black;
}

dialog .close:active {
  margin-top: 1px;
}

dialog {
  transition-behavior: allow-discrete;
  transition-timing-function: ease-out;
  transition-duration: 0.4s;
}

/* slide */

dialog.slide {
  opacity: 0;
  margin-top: -500px;
  transition-property:
    opacity,
    margin-top,
    overlay,
    display;
}

dialog[open].slide {
  opacity: 1;
  margin-top: 0;
}

@starting-style {
  dialog[open].slide {
    margin-top: -100%;
    opacity: 0;
  }
}

/* fade */

dialog.fade {
  opacity: 0;
  transition-property:
    opacity,
    overlay,
    display;
}

dialog[open].fade {
  opacity: 1;
}

@starting-style {
  dialog[open].fade {
    opacity: 0;
  }
}

/* scale */

dialog.scale {
  opacity: 0;
  transform: scale(0);
  transition-property:
    opacity,
    transform,
    overlay,
    display;
}

dialog[open].scale {
  opacity: 1;
  transform: scale(1);
}

@starting-style {
  dialog[open].scale {
    opacity: 0;
    transform: scale(0);
  }
}
